.row{   
    display:flex;
    background-color:black;
    color:white;
    font-size:20px;
    justify-content:center;
}
.top{
    margin:40px;
    margin-top:15px;
    margin-bottom:15px;
}
.middle{
    margin:40px;
    margin-top:15px;
    margin-bottom:15px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.contacts{
    margin:40px;
    margin-top:15px;
    margin-bottom:15px;     
}
.aboutme{
    border:1px solid black; 
    display: flex;
    justify-content:center;
}
button {
    border-radius: 100px;
    background-color: white;
}